  <div class="grid-container">
      <h2 class="text-center">Album Stacks</h2> 
      <br>
    <div class="grid-x"> 
      <div class="cell small-6"> 
        <span class="label alert">
          <h3 class="text-left">Unlistened to Albums</h3>
          </span> 
        {{#each albums}}
          {{#unless this.listened}}
            <div>  
            <form action="/api/albums" method="PUT">
              <p>Title:    {{this.title}}</p>  
              <p>Artist: {{this.artist}}</p> 
              <p>Review: {{this.review}}</p> 
              <button type="submit" class="warning button">Listened</button> 
            </form>
            </div>
          {{/unless}}
        {{/each}}
      </div>

      <div class="cell small-6">  
        <span class="label success">
          <h3 class="text-right">Listened to Albums</h3>
          </span>
        {{#each albums}}
          {{#if this.listened}}
            <div> 
              <form action="/api/albums/:id" method="DELETE">
              <p>Title:    {{this.title}}</p>  
              <p>Artist: {{this.artist}}</p> 
              <p>Review: {{this.review}}</p>  
               <button type="submit" class="warning button">Remove Album</button> 
              </form> 
            </div>
          {{/if}}
        {{/each}}
      </div>  
      </div> 

      <br> 
      <br> 

    <div class="grid-x"> 
      <div class="cell medium-12">
         <div class="translucent-form-overlay">
              <form class="album">
                <h3 class="text-center">Add An Album</h3>
                  <div class="row columns">
                    <label>Title
                    <input type="text" name="title" class="title-input">
                    </label>
                  </div>
                  <div class="row columns">
                    <label>Artist
                    <input type="text" name="artist" class="artist-input">
                    </label>
                  </div>
                  <div class="row columns">
                   <label>Review
                    <input type="text" name="review" placeholder="Optional" class="review-input">
                    </label>
                  </div>
                  <button type="submit" class="secondary button expanded search-button">Submit Album</button>
                </form>
                </div>

        </div>  
        </div>  
        </div>

        <br> 
        <br> 
        <br>

    <div class="grid-container"> 
      <h2 class="text-center">Singles Stacks</h2> 
      <br> 
        <div class="grid-x"> 
          <div class="cell small-6"> 
            <span class="label alert">
          <h3 class="text-left">Unlistened to Songs</h3>
          </span>  
        {{#each songs}}
          {{#unless this.listened}}
            <div> 
              <form action="/api/songs" method="PUT">
                <p>Title:    {{this.title}}</p>  
                <p>Artist: {{this.artist}}</p> 
                <p>Review: {{this.review}}</p> 
                 <button type="submit" class="warning button">Listened</button> 
                </form>  
            </div>
          {{/unless}}
        {{/each}}
      </div>

      <div class="cell small-6"> 
       <span class="label success">
          <h3 class="text-right">Listened to Songs</h3>
          </span>
        {{#each songs}}
          {{#if this.listened}}
            <div> 
             <form action="/api/songs/:id" method="DELETE">
                <p>Title:    {{this.title}}</p>  
                <p>Artist: {{this.artist}}</p> 
                <p>Review: {{this.review}}</p>    
              </form>
            </div>
          {{/if}}
        {{/each}} 
      </div>  
       </div>   

       <br>   
       <br>

    <div class="grid-x"> 
        <div class="cell medium-12">
            <div class="translucent-form-overlay">
              <form class="song">
                <h3 class="text-center">Add A Song</h3>
                  <div class="row columns">
                    <label>Title
                    <input type="text" name="title" class="title-input">
                    </label>
                  </div>
                  <div class="row columns">
                    <label>Artist
                    <input type="text" name="artist" class="artist-input">
                    </label>
                  </div>
                  <div class="row columns">
                   <label>Review
                    <input type="text" name="review" placeholder="Optional" class="review-input">
                    </label>
                  </div>
                  <button type="submit" class="secondary button expanded search-button">Submit Song</button>
                </form>
                </div>
            </div>
        </div>  
        </div> 

           



